body {
  background-color:#0000ff;
  font:"Times New Roman", Times, serif;
  color:#00ff00;
}

a {
  color:#ff0000;
}

h1 {
  background-color: #444444;
  text-align: left;
}

canvas {
  background-color: #ffffff;
}

div {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
  background-color: #444444;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.hidden{
  display:none;
}

.visible{
  display:block;
}
